<html>

<head>

	<title>

		Alpha | Your Virtual Assistant 

	</title>

</head>

<body>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <div class="jumbotron jumbotron-fluid">

  <div class="container">

    <h1 class="display-3">Welcome to Alpha! Your very own virtual assistant.</h1>

    <p class="lead">Hello! I am Alpha! Talk to anything about me, i help you in all cases and provide you a good experience.</p>
<br>

<br>
<b><h3>Alpha Says : </b><br></h3>

<p>





  </p>


</div>
</body>

</html>