<html>

<head>

	<title>

		Alpha | Your Virtual Assistant 

	</title>

</head>

<body>
<center>

  <img src="https://s10.postimg.org/wtomhsnvt/147081762538434.png">
</center>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <div class="jumbotron jumbotron-fluid">

  <div class="container">

    <h1 class="display-3">Welcome to Alpha! Your very own virtual assistant.</h1>

    <p class="lead">Hello! I am Alpha! Talk to anything about me, i help you in all cases and provide you a good experience.</p>
<br>
<p>I provide you loads of features, to make you life easier.</p>
<br>
<ul>
  <li> Reminder System (Example: "remind to drink water", "remind me to eat food") (Type "remind me " + (followed by your query))
    <li>Weather (Example: "weather")
      <li>Helps you in calculations (Example: "2+2", "443+1232+23")
        <li>Helps you in doing in your homework (Will send you an email to complete your reminders)
  </ul>
    <br>

<form action="alpha-request/" method="get">
          <label for="text">Ask me anything!</label>
  <input placeholder="Ask me anything!" name="query" id="text" type="text" class="validate">
    <input type = "submit" text="TALK" class="waves-effect waves-light btn">
  </div>
    </form>


</div>
</body>

</html>